* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
  --font-p: "DM Sans", sans-serif;
  --font-h1: "Montserrat", sans-serif;
  --color-text: #34355b;
  --background-container: #ffffff;
  --font-p-phases: "Dancing Script", cursive;
}
body {
  display: grid;
  place-items: center;
  height: 100vh;
  margin-top: -10rem;
  background: linear-gradient(45deg, #190361, #bb00ff);
  animation: gradient 10s ease infinite;
  background-size: 200% 200%;
}
.container {
  width: min(42.8rem, 90%);
  background-color: red;
  text-align: center;
  color: var(--color-text);
  max-height: 73rem;
  background-color: var(--background-container);
  box-shadow: 0px 2px 4px black;
  border-radius: 0.5rem;
  padding-bottom: 2rem;
}
.hide {
  display: none;
}
.container h1 {
  font-family: var(--font-h1);
  font-size: 2.4rem;
  line-height: 2.9rem;
  font-weight: bold;
  margin: 4rem auto 0;
  height: 0;
  margin-bottom: 0;
}
.container p {
  font-family: var(--font-p);
  font-size: 1.5rem;
  margin-top: 6rem;
}
.container #phases {
  max-width: 27.3rem;
  max-height: 20rem;
  margin: 5rem auto 0;
  background-color: #e4edf1;
  font-family: var(--font-p-phases);
  font-size: 2.4rem;
  line-height: 2.9rem;
  text-align: center;
  box-shadow: 0px 2px 4px black;
  animation-name: phases;
  animation-duration: 4s;
}
.img {
  width: 30rem;
  height: 20rem;
  margin: 3rem auto 0;
}
button {
  height: 5.4rem;
  width: 17.4rem;
  background-color: #ff9500;
  border-radius: 0.4rem;
  font-family: var(--font-p);
  color: #ffffff;
  border: none;
}
button:hover {
  cursor: pointer;
  background-color: #cf9441;
}

/* animaçoes */
#closedCookie img:hover {
  animation: treme 0.1s;
  animation-iteration-count: infinite;
  cursor: pointer;
}
@keyframes treme {
  0% {
    margin-left: 0;
  }
  25% {
    margin-left: 5px;
  }
  50% {
    margin-left: 0;
  }
  75% {
    margin-left: -5px;
  }
  100% {
    margin-left: 0;
  }
}
@keyframes phases {
  0% {
    opacity: 0;
    transform: translateY(10rem);
    width: 20rem;
    height: auto;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
